---
import { pluck } from "ramda";
import { kebabCase } from "change-case";
import type { Article } from "@/lib/mdx";

import { Border } from "@/components/Border";
import { Button } from "@/components/Button";
import { FadeIn } from "@/components/FadeIn";
import { PageIntro } from "@/components/PageIntro";
import { formatDate } from "@/lib/formatDate";
import { PageLinks } from "@/components/PageLinks";
import NotionPage from "@/components/NotionPage.astro";

import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import ContactSection from "@/components/ContactSection.astro";

import { getPublicBlogPosts } from "@/lib/notion";

export async function getStaticPaths() {
  const articles = await getPublicBlogPosts();

  return articles.map((article) => ({
    params: {
      slug: article.slug,
    },
    props: {
      article,
    },
  }));
}

const { article } = Astro.props;
const { data: recordMap } = article;

let allArticles = await getPublicBlogPosts();

let moreArticles = allArticles
  .filter(({ slug }) => slug !== article.slug)
  .slice(0, 2);
---

<Layout>
  <Container as="article" class="mt-24 sm:mt-32 lg:mt-40">
    <FadeIn client:load>
      <header class="mx-auto flex max-w-5xl flex-col text-center">
        <h1
          class="mt-6 font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-6xl"
        >
          {article.title}
        </h1>
        <time
          dateTime={article.date}
          class="order-first text-sm text-neutral-950"
        >
          {formatDate(article.date)}
        </time>
        <p class="mt-6 text-sm font-semibold text-neutral-950">
          by {article.author.name}
        </p>
      </header>
    </FadeIn>

    <FadeIn client:load>
      <NotionPage recordMap={recordMap} />
    </FadeIn>
  </Container>

  {
    moreArticles.length > 0 && (
      <PageLinks
        className="mt-24 sm:mt-32 lg:mt-40"
        title="More articles"
        pages={moreArticles}
        client:load
      />
    )
  }
</Layout>

<ContactSection />
