---
import { allPass, prop, pipe, propEq, isNotNil } from "ramda";
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import ContactSection from "@/components/ContactSection.astro";
import Container from "@/components/Container.astro";
import { getArticles } from "./[slug].astro";

import { Border } from "@/components/Border";
import { Button } from "@/components/Button";
import { FadeIn } from "@/components/FadeIn";
import { PageIntro } from "@/components/PageIntro";
import NotionPage from "@/components/NotionPage.astro";

import { formatDate } from "@/lib/formatDate";
import { loadEntries } from "@/lib/mdx";

import { getBlogPosts } from "@/lib/notion";

const articles = (await getBlogPosts())
  .filter(
    pipe(
      prop("pageInfo"),
      allPass([
        pipe(prop("datePublished"), isNotNil),
        propEq("public", "visibility"),
      ]),
    ),
  )
  .sort((a) => a.pageInfo.datePublished?.getTime() ?? 0);

console.log(articles.map((a) => a.pageInfo));
---

<Layout title="Blog">
  <PageIntro eyebrow="Blog" title="The latest articles and news" client:load>
    <p>
      Stay up-to-date with the latest industry news as our marketing teams finds
      new ways to re-purpose old CSS tricks articles.
    </p>
  </PageIntro>

  <Container class="mt-24 sm:mt-32 lg:mt-40">
    {
      articles.map((article) => (
        <Container class="my-24 lg:my-32">
          <FadeIn key={article.href} client:load>
            <article>
              <Border className="pt-16">
                <div class="relative lg:-mx-4 lg:flex lg:justify-end">
                  <div class="pt-10 lg:w-2/3 lg:flex-none lg:px-4 lg:pt-0">
                    <h2 class="font-display text-2xl font-semibold text-neutral-950">
                      <a href={article.href}>{article.title}</a>
                    </h2>
                    <dl class="lg:absolute lg:left-0 lg:top-0 lg:w-1/3 lg:px-4">
                      <dt class="sr-only">Published</dt>
                      <dd class="absolute left-0 top-0 text-sm text-neutral-950 lg:static">
                        {article.date && (
                          <time dateTime={article.date}>
                            {formatDate(article.date)}
                          </time>
                        )}
                      </dd>
                      {/* <dt class="sr-only">Author</dt> */}
                      <dd class="mt-6 flex gap-x-4">
                        <div class="flex-none overflow-hidden rounded-xl bg-neutral-100">
                          {article.pageInfo.image && (
                            <Image
                              alt=""
                              src={article.pageInfo.image}
                              inferSize
                              width={96}
                              class="h-12 w-12 object-cover"
                            />
                          )}
                        </div>
                        {/* <div class="text-sm text-neutral-950">
                          <div class="font-semibold">{article.author.name}</div>
                          <div>{article.author.role}</div>
                        </div> */}
                      </dd>
                    </dl>
                    <p class="mt-6 max-w-2xl text-base text-neutral-600">
                      {article.description}
                    </p>
                    <Button
                      href={article.href}
                      aria-label={`Read more: ${article.title}`}
                      className="mt-8"
                    >
                      Read more
                    </Button>
                  </div>
                </div>
              </Border>
            </article>
          </FadeIn>
        </Container>
      ))
    }
  </Container>

  <ContactSection />
</Layout>
